<div class="registeration-page">
    <mat-card class="mat-elevation-z12">
      <mat-card-title class="mb-2 text-uppercase" style="color: #1616a4; text-align:center;font-size: large; font-weight: bold; ">Registeration</mat-card-title>
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
        <mat-tab label="Patient">
        <app-patient-register></app-patient-register>
        </mat-tab>
        <mat-tab label="Doctor">
<app-doctor-register></app-doctor-register>
        </mat-tab>
        <mat-tab label="Employee">
<app-organization-register></app-organization-register>
        </mat-tab>
    </mat-tab-group>
</mat-card>
</div>